section {
  display: flex;
  flex-wrap: wrap;
  padding: 50px;
  justify-content: center;
  align-items: center;
  background-color: #f7f7f7;
  @media (max-width: 900px) {
    display: block;
    img {
      position: unset;
    }
  }
  img {
    position: absolute;
    top: 40%;
  }
}
